<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
      <div class="card-myself avatar-flex" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "me_bw.jpg" %>')">
        <%#= image_tag "superheroe.png", id: "project-overview-jay-logo"%>
        <div class="my_description">
          <!-- <h4>Your next Junior Full Stack Developer</h4> -->
          <p>Autodidact</p>
          <p>Fast learner</p>
          <p>A great soul</p>
          <p>for your team</p>
          <div class="link_projects">
            <p class="fas fa-arrow-circle-right"></p>
            <%= link_to "Projects", "#", class: "msg_me_link" %>
          </div>
        </div>
        <div class="team">
          <%= image_tag "flora.JPG", id: "flora", class: "avatar hidden" %>
          <div class="appear_after_dom one">
             <%= button_tag "Hire us", remote: true, class: "btn btn_mint" %>
          </div>
          <div class="appear_after_dom two">
            <%= button_tag "Your next office dog", remote: true, class: "btn btn_yellow" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="introduction">
        <%= image_tag "superheroe.png", class: "batman" %>
        <p>My name is Jascha Rafael Franke and I'm a 27-year-old Junior Full Stack Developer. Before I started my coding career I studied economics and business administration in Mannheim and gained a lot of experience as a Lead-Manager and IT-Consultant Intern. I also founded my own wine importing business in 2015 with a focus on the mid and high market of Spain. As knowledge is crucial, I have become a sommelier in early 2017.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="project" style="background-image: url('<%= image_path "recipeasy.png" %>')">
        <%= image_tag "jf.png", alt: "Logo", class: "logo_projects" %>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="project" style="background-image: url('<%= image_path "mrcocktail.png" %>')">
        <%= image_tag "jf.png", alt: "Logo", class: "logo_projects" %>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="project" style="background-image: url('<%= image_path "AirBnBPool.png" %>')">
        <%= image_tag "jf.png", alt: "Logo", class: "logo_projects" %>
      </div>
    </div>
  </div>
</div>






