<div class="white-wrapper abc">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
        <div class="card-myself avatar-flex" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "me_bw.jpg" %>')">
          <%#= image_tag "superheroe.png", id: "project-overview-jay-logo"%>
          <div class="my_description">
            <!-- <h4>Your next Junior Full Stack Developer</h4> -->
            <p>Autodidact</p>
            <p>Fast learner</p>
            <p>A great soul</p>
            <p>for your team</p>
            <div class="link_projects">
              <p class="fas fa-arrow-circle-right"></p>
              <%= link_to "Projects", root_path(anchor: "projects"), class: "msg_me_link" %>
            </div>
          </div>
          <div class="team">
            <%= image_tag "flora.JPG", id: "flora", class: "avatar hidden" %>
            <div class="appear_after_dom one">
             <%= button_tag "Hire us", remote: true, class: "btn btn_mint" %>
           </div>
           <div class="appear_after_dom two">
            <%= button_tag "Your next office dog", remote: true, class: "btn btn_yellow" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 hidden-xs">
      <div class="introduction">
        <div class="image_and_name">
          <h4 class="shadow_name">Jascha Rafael Franke</h4>
          <h6 class="tag">J.R.F</h6>

          <%= image_tag "superheroe.png", class: "batman" %>
        </div>
        <p>I'm a 27-year-old Junior Full Stack Developer, who loves to dive into new technologies. Besides that I'm an excellent chef who enjoys to cook for friends and share a good bottle of wine. In my spare time I like to travel with my girlfriend and my fluffy girl from Spain to explore different countries and their culinary diversity. Can't wait to meet you and join your team. Reach out and leave a message.</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="white-wrapper abc text-center">
  <div class="container_2">
    <div class="row">
      <div class="my_skills">
        <div class="key">
          <%= button_tag "Technical", class: "btn btn_technical"%>
          <%= button_tag "Fundamentals", class: "btn btn_fundamentals"%>
          <%= button_tag "Soft-skills", class: "btn btn_soft_skills"%>
        </div>
        <h4 class="skills_headline">My skills</h4>
        <ul class="list-inline">
          <li><%= button_tag "RoR", class: "btn btn_technical"%></li>
          <li><%= button_tag "React", class: "btn btn_technical"%></li>
          <li><%= button_tag "MySQL", class: "btn btn_technical"%></li>
          <li><%= button_tag "Bootstrap", class: "btn btn_technical"%></li>
          <li><%= button_tag "Jquery", class: "btn btn_technical"%></li>
          <li><%= button_tag "TDD", class: "btn btn_technical"%></li>
        </ul>
        <ul class="list-inline">
          <li><i class="fab fa-html5"></i></li>
          <li><i class="fab fa-css3-alt"></i></li>
          <li alt="Javascript"><i class="fab fa-js"></i></li>
          <li><i class="fab fa-git"></i></li>
          <li><i class="fab fa-github-alt"></i></li>
        </ul>
        <ul class="list-inline">
          <li><%= button_tag "Self-motivation", class: "btn_soft_skills"%></li>
          <li><%= button_tag "Empathy", class: "btn_soft_skills"%></li>
          <li><%= button_tag "Coordination", class: "btn_soft_skills"%></li>
          <li><%= button_tag "Self-Management", class: "btn_soft_skills"%></li>
          <li><%= button_tag "Calmness", class: "btn_soft_skills"%></li>
          <li><%= button_tag "Decision Making", class: "btn_soft_skills"%></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="white-wrapper abc">
  <div class="container_3 text-center">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
         <div id="projects"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="project" style="background-image: url('<%= image_path "recipeasy.png" %>')">
          <%= link_to "", "http://www.recipeasy.de", target: "_blank", class: "fas fa-arrow-circle-right button_projects" %>
          <!-- <h5>Recipeasy</h5> -->
        </div>
        <div>
          <h5 class="project_headline">Recipeasy</h5>
          <p class="project_description">The best recipes based on your available time, cuisine preferences and available ingredients. Open your fridge, discover the world of cooking. Everyone can cook!</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project" style="background-image: url('<%= image_path "mrcocktail.png" %>')">
          <%= link_to "", "http://www.jays-awesome-cocktails.herokuapp.com", target: "_blank", class: "fas fa-arrow-circle-right button_projects" %>
        </div>
        <div>
          <h5 class="project_headline">MrCocktail</h5>
          <p class="project_description">Find your favourite cocktail or add your special ones.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project" style="background-image: url('<%= image_path "AirBnBPool.png" %>')">
          <%= link_to "", "https://github.com/thefabian/AIRBNB_POOL_CLONE", target: "_blank", class: "fas fa-arrow-circle-right button_projects" %>
        </div>
          <h5 class="project_headline">AirBnB-Pool</h5>
          <p class="project_description">A nice AirBnB-Clone, where you can book your favourite pool for the weekend and invite your friends to hang out together. As we had a tremendous summer in 2018, this is the place to be.</p>
      </div>
    </div>
  </div>
</div>














