<!--  <div class="sidenav">
    <%#=# image_tag "https://avatars1.githubusercontent.com/u/40575245?v=4", class: "avatar" %>

    <div >
      <p class="name">Jascha Rafael Franke</p>
    </div>
  </div> -->
<div class="banner test" style="background-image: url(<%= asset_path 'recipeasy.png'%>);">

</div>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://source.unsplash.com/idmvPhF8t4E/1600x900');">

  <div class="banner-content">


    <%= link_to "CV", "https://standardresume.co/careersummitlewagon", target: "_blank", class: "btn button_cv" %>
    <div class="projects_links">
      <%= link_to "Recipeasy", "http://www.recipeasy.de", target: "_blank", class: "btn button_mint" %>
      <%= link_to "MrCocktail", "https://jays-awesome-cocktails.herokuapp.com", target: "_blank", class: "btn button_purple" %>
      <%= link_to "AirBnB-Pool", "http://github.com/thefabian/AIRBNB_POOL_CLONE", target: "_blank", class: "btn button_red" %>
    </div>
    <div>
      <h1>Hey there, nice to see you.</h1>
      <p class="description">If you are looking for an ambitious, self-taught Junior Developer or at least an office dog, do not hesitate to reach out and leave a message . </p>
    </div>

  </div>
</div>

